# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Log files
*.log

# Dependencies
node_modules/

# Built web folder
www/

